/* globals.css */

html,
body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  color: #222;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
